out
dist
node_modules

# Ignore local models
**.gguf 

# Vs code project files
.vscode

# Python virtual environment
.venv

.vscode-test/
*.vsix

# Temp file used for testing completions
test_code.py
